.project-head{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
            justify-content: center;

}

.content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
}


.wil{
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.section-content{
    padding: 40px 0;
}


.about-project__ui{
    display: block;
    margin: 20px auto 0 auto;
    width: 100%;

    @media #{$tablet-view}{
        width: 60%;
    }

    @media #{$desktop-view}{
        width: 40%;
    }
}

.img-spread{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    background-color: #F0F0F0;
    margin: 2rem 0;

    @media #{$tablet-view}{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    }

    &__hold{
        width: 100%;
        padding: 40px 0;
        
        @media #{$desktop-view}{
            width: 33%;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -ms-flex-pack: distribute;
                justify-content: space-around;
        }

    }

    &__note{
        width: 100%;
    }
}


.sub-head{
    font-family: 'Lato', sans-serif;
    color: #8D8D8D;
    margin-top: 20px;
    line-height: 1.4em;
}

.sub-head p{
    font-family: 'Lato', sans-serif;
}

.segment{

    width: 100%;

    @media #{$tablet-view}{
        width: 80%;
    }
    
}

small{
    margin: 10px 0;
}


.future-list{
    list-style-type: initial;
    list-style-position: inside
}


.future-list li{
    margin-bottom: 5px
}